<h1 id="modular-worm">Modular Worm</h1>
<h2 id="project-details">Project details</h2>
<ul>
<li>Students: Thibaut Broggi (thtb2), Arthur Poulet (agp8)</li>
<li>Supervisor: Dr. Perez Delgado Carlos (C.Perez@kent.ac.uk)</li>
</ul>
<h2 id="index-to-corpus">Index to Corpus</h2>
<table>
<thead>
<tr class="header">
<th>File</th>
<th>Authors</th>
<th>Best work</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><a href="./build/cut_modules_files.rb">build/cut_modules_files.rb</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./build/shellshock_attack_script.sh">build/shellshock_attack_script.sh</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="./core/main.c">core/main.c</a></td>
<td>Thibaut Broggi</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./core/plugins.c">core/plugins.c</a></td>
<td>Thibaut Broggi</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="./core/plugins.h">core/plugins.h</a></td>
<td>Thibaut Broggi</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./Makefile">Makefile</a></td>
<td>All</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="./plugins/1_sender_plugin.c">plugins/1_sender_plugin.c</a></td>
<td>All</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./plugins/2_receiver_plugin.c">plugins/2_receiver_plugin.c</a></td>
<td>All</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="./plugins/3_network.c">plugins/3_network.c</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./plugins/3_network.h">plugins/3_network.h</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="./plugins/3_network_helpers.c">plugins/3_network_helpers.c</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./plugins/3_network_recv.c">plugins/3_network_recv.c</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="./plugins/3_network_send.c">plugins/3_network_send.c</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./plugins/4_shellshock.c">plugins/4_shellshock.c</a></td>
<td>Arthur Poulet</td>
<td>*</td>
</tr>
<tr class="odd">
<td><a href="./plugins/4_shellshock.h">plugins/4_shellshock.h</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./plugins/5_shellshock_command.c">plugins/5_shellshock_command.c</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="./plugins/5_shellshock_command.h">plugins/5_shellshock_command.h</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./plugins/6_database.c">plugins/6_database.c</a></td>
<td>Thibaut Broggi</td>
<td>*</td>
</tr>
<tr class="odd">
<td><a href="./plugins/6_database.h">plugins/6_database.h</a></td>
<td>Thibaut Broggi</td>
<td>*</td>
</tr>
<tr class="even">
<td><a href="./plugins/7_fs.c">plugins/7_fs.c</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="./plugins/7_fs.h">plugins/7_fs.h</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./plugins/8_discovery.c">plugins/8_discovery.c</a></td>
<td>Arthur Poulet, Thibaut Broggi</td>
<td>*</td>
</tr>
<tr class="odd">
<td><a href="./plugins/9_scanner.c">plugins/9_scanner.c</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./plugins/10_commander.c">plugins/10_commander.c</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="./plugins/10_commander.h">plugins/10_commander.h</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./plugins/11_message.c">plugins/11_message.c</a></td>
<td>Thibaut Broggi</td>
<td>*</td>
</tr>
<tr class="odd">
<td><a href="./plugins/12_dirtycow.c">plugins/12_dirtycow.c</a></td>
<td>Thibaut Broggi</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./plugins/12_dirtycow.h">plugins/12_dirtycow.h</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="./plugins/api.h">plugins/api.h</a></td>
<td>Thibaut Broggi</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./plugins/error_codes.h">plugins/error_codes.h</a></td>
<td>Arthur Poulet</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="./doc/design.html">doc/design.html</a></td>
<td>All</td>
<td></td>
</tr>
<tr class="even">
<td><a href="./doc/coding_style.html">doc/coding_style.html</a></td>
<td>All</td>
<td></td>
</tr>
<tr class="odd">
<td><a href="./doc/network_protocol.html">doc/network_protocol.html</a></td>
<td>All</td>
<td></td>
</tr>
</tbody>
</table>
