<h1 id="abstract">Abstract</h1>
<p>The worm architecture is divided into two parts: the <em>core</em> and the <em>plugins</em>. The only goal of the core is to provide a way of communication for the plugins. Each plugin represent a feature. It can be an exploit or an interface, as a network one or a file system one. Plugins are shared objects, which mean we can load/unload them at the runtime. The worm can be present several times into a single one device. It can be useful to have an active version and an harmless one that only wait that the first one is compromised to activate itself.</p>
<h1 id="core-design">Core design</h1>
<p><em>The core part is an executable binary. The plugins are shared libraries. The core provides an API to the plugins. This API allows to plugin to send and receive messages to and from other plugins, establish a list of the available features, and control its own usage.</em></p>
<h2 id="presentation">Presentation</h2>
<p>The core is an executable file that is written in C, which is compiled, fast and easily allows to load shared objects with the <code>dlopen</code>, <code>dlsym</code> and <code>dlclose</code> functions. The usage of shared libraries makes the worm very modulable and easy to modify at runtime because the code is not stored in only one file.</p>
<h2 id="core-versioning-and-compatibility">Core versioning and compatibility</h2>
<p>The core has a versioning system, which defines <code>X.Y</code> (a major version X for compatibility and a minor version Y for bug and features). The version number is encoded on <code>15 bits</code>, <code>7 bits</code> for the X number and <code>8 bits</code> for the Y one.</p>
<h2 id="internal-communication-api-for-plugins">Internal communication API for plugins</h2>
<p>The core has a versioning system, which defines <code>X.Y</code> (a major version X for compatibility and a minor version Y for bug and features). The version number is encoded on <code>15 bits</code>, <code>7 bits</code> for the X number and <code>8 bits</code> for the Y one. Each plugin has a message queue, which is managed by the core. When a plugin send a message to another plugin, it will be put in the recipient's queue. All the memory allocation is managed by the core, which means the messages will not last forever once they are read. To store data and retrieve them later, a database plugin will be available. This system jails the plugins in different abstractions and protects them against each other. It allows easy concurrent and parallel programming.</p>
<p>On launch, the core has to load a set of available plugins.<br />
The core will act as an infinite loop, which will call the executable part of each plugins. It provides a set of functions (the core API) that will be available to the plugins: - <code>send_message</code>, used to send an asynchronous message to another plugin. It allows plugins to communicate data between them. - <code>send_message_instant</code>, used to send a synchronous message to another plugin, and get an instant response from it. It allows faster procedures with some limitations (stack limit, timeout). - <code>receive_message</code>, used to retrieve messages from a specified plugin - <code>receive_message_instant</code>, which is called when another plugin send a synchronous message to this plugin. - <code>list_messages</code>, to get a list of metadata about the messages present in the plugin's message queue. - <code>list_plugins</code>, to get the list of available and loaded plugins. This is a features' discovering feature. - <code>disable</code>, to disable the current plugin for a specified amount of time (depending on the duration, simply not call the plugin or detach it from the core). The goal is to make the plugins stealthier and speed up the main loop.</p>
<hr />
<h1 id="plugin-design">Plugin design</h1>
<h2 id="meta-data-and-identification">Meta-data and identification</h2>
<p>Each plugin will be defined by several informations: - its <strong>id</strong>, which will be unique to each plugin. Minimum value is <code>1</code>. - its <strong>version number</strong>, on <code>15 bits</code>, like the core one - its <strong>compatible core version required</strong>, on <code>15 bits + 1 bit for a flag</code>, the flag containing additional requirement information.</p>
<h2 id="stealth-and-obfuscated-code">Stealth and obfuscated code</h2>
<p>Two main issues have been found for plugins:</p>
<ul>
<li>Avoid the detection of the malicious plugins</li>
<li>Avoid the detection of the worm because of a know signature of one plugin</li>
</ul>
<h3 id="signature-and-behaviour-obfuscation">Signature and behaviour obfuscation</h3>
<p>Each plugin is written following some rules. There are implemented with macro in C, which are generating junk code regenerated randomly at each compilation. This junk code obfuscate the traces of the plugin (inject syscalls, blocks, logic, etc.) at every step of its execution. This could be written:</p>
<div class="sourceCode"><pre class="sourceCode c"><code class="sourceCode c"><span class="cf">for</span> (<span class="dt">int</span> i = <span class="dv">0</span>; i &lt; <span class="dv">10</span>; i++) {
  call_some_internal_function(i); <span class="co">// some code</span>
  JUNK_MACRO(i) <span class="co">// random code generated at each iteration, with optional variadic parameters</span>
  <span class="co">// ...</span>
}</code></pre></div>
<p>The goal is to avoid:</p>
<ul>
<li><strong>static signature:</strong> as junk code is regenerated at each compilation randomly, the byte code between 2 versions is very different</li>
<li><strong>behaviour traces:</strong> the junk code may be more or less complex, and with anchors in the real code (variables from real code sent to the junk) and between the junks themselves (each junk might remains variables, invisible from the real code). It create a complex but useless operation to flood the real goal of the plugin. the junk code might have no effect (just make some operations), use systemcalls (write files, ...) or even running other programs (<code>system(&quot;ls&quot;)</code>, etc.)</li>
</ul>
<p>Depending on each plugin's implementation, it junk code might differs (for a complex system exploit on memory it could only insert short junk between each operation, in other it could be a set of algorithm evaluation, like a sort, etc.).</p>
<p>Junk injection requires careful programming and is a generic tool that must be evaluated each time it is used.</p>
<h3 id="shared-library-injection">Shared Library injection</h3>
<p>Injecting plugins bytecode into a legit shared library could be a way to avoid anti-virus detection, because the legit files might already be in some whitelist.</p>
<p><strong>Potential issues</strong>: - Anti-virus may detect modifications of executables or shared libraries. But it is not obvious because a lot a software are using update systems thus are modified by an update software or update themselves.</p>
<h2 id="worm-spreading">Worm spreading</h2>
<h3 id="scanner-command-center">Scanner, Command center</h3>
<p>The first characteristic of a worm is its capability of self-spreading without any user action. The worm should be able to take decision in order to choose targets and the way to infect targeted systems. This capability will be provided by two services, so two modules:</p>
<ul>
<li>a scanner, that is able to retrieve informations and provide them to the command center</li>
<li>a command center, that will look at all the informations available on the network (devices on LAN, or WAN) provided by the scanner and take decisions based on them (attack a given target or not, and which exploit to use).</li>
</ul>
<h3 id="vulnerability-exploitation-and-privilege-escalation">Vulnerability exploitation and privilege escalation</h3>
<p>Several modules will be designed to attack a service (TCP/UDP endpoint, ...) and some other to attack the current system.</p>
<h1 id="future-and-potential-work">Future and potential work</h1>
<ul>
<li>Injecting the core and plugins systematically in other softwares to avoid security measures</li>
</ul>
